/* :root {
    --blue: rgb(29, 161, 242);
} */

body {
  background-color: black;
  color: white;
  border-left: 1px solid darkgray;
  margin-left: 20px;
  border-right: 1px solid darkgray;
  margin-right: 20px;
  font-family: sans-serif;
}

/* .wd-page {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  margin-top: 12px;
  margin-left: 16px;
}

.wd-container {
  margin: 20px;
} */